#row1, #row2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* space between items */
}

#row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* space between items */
}

#row1 > div {
    display: flex;
    justify-content: center;
    gap: 10px; /* space between buttons */
}

#row2 {
    flex-direction: column; /* items in a column */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#lottieContainer {
    width: 800px;
    height: 800px;
}

#procedure_step {
    font-weight: bold;
    font-size: 20px; 
}

@media screen and (max-width: 600px) {
    /* CSS rules for screens smaller than 600px */
  }